In [20]:
#Importamos pandas y leemos la hoja puerto de nuestro archivo excel
import pandas as pd
df_puerto = pd.read_excel("Bd_Itinerarios.xlsx",sheet_name="puerto")

In [21]:
df_puerto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CodigoPuerto    1061 non-null   object
 1   CodigoPais      1060 non-null   object
 2   NombrePuerto    1061 non-null   object
 3   TipoTransporte  1061 non-null   object
 4   EsPuertoLocal   1061 non-null   int64
dtypes: int64(1), object(4)
memory usage: 41.6+ KB

In [22]:
df_puerto.describe()

       EsPuertoLocal
count    1061.000000
mean        0.004713
std         0.068518
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [23]:
df_puerto.isnull().sum()

CodigoPuerto      0
CodigoPais        1
NombrePuerto      0
TipoTransporte    0
EsPuertoLocal     0
dtype: int64

In [24]:
df_puerto[df_puerto.isnull().any(axis=1)].index

Index([1013], dtype='int64')

In [25]:
df_puerto.loc[1013]

CodigoPuerto             WVB
CodigoPais               NaN
NombrePuerto      WALVIS BAY
TipoTransporte             M
EsPuertoLocal              0
Name: 1013, dtype: object

In [26]:
#Eliminamos ya que el puerto no cuenta con un codigo de país por ende no se puede identificar al pais que pertence
df_puerto.drop(1013,inplace=True)

In [27]:
df_puerto.duplicated().sum()

np.int64(0)

In [28]:
df_puerto.duplicated(subset=["CodigoPuerto"]).sum()

np.int64(114)

In [29]:
df_puerto.duplicated(subset=["CodigoPuerto","CodigoPais","NombrePuerto"]).sum()

np.int64(50)

In [30]:
tuplas = list(df_puerto[["CodigoPuerto", "NombrePuerto"]].itertuples(index=False, name=None))
print(tuplas)

[(123, 'KOPER'), (827, 'HAYDARPASA'), ('AAE', 'ANNABA'), ('AAH', 'AACHEN'), ('AAL', 'AALBORG'), ('AAN', 'AL AIN'), ('AAR', 'AARHUS'), ('ABD', 'ABERDEEN'), ('ACB', 'ALBOLOTE'), ('ACC', 'ACCRA'), ('ACE', 'LANZAROTE'), ('ACI', 'TACOMA'), ('ACJ', 'ACAJUTLA'), ('ADA', 'ADANA'), ('ADD', 'ADDIS ABABA'), ('ADE', 'ADEN'), ('ADH', 'ANGRA DO HEROISMO'), ('ADL', 'ADELAIDE'), ('AES', 'ALESUND'), ('AGB', 'AUGSBURG'), ('AGP', 'MALAGA'), ('AGP', 'MALAGA'), ('AIN', 'HUAIYIN'), ('AJM', 'AJMAN'), ('AKL', 'ASHKELON'), ('AKL', 'AUCKLAND'), ('AKL', 'AUCKLAND'), ('ALB', 'ALBACETE'), ('ALC', 'ALICANTE'), ('ALC', 'ALICANTE'), ('ALE', 'ALESSANDRIA'), ('ALG', 'ALGER'), ('ALG', 'ALGECIRAS'), ('ALY', 'ALEXANDRIA'), ('AMB', 'AMBARLI'), ('AMD', 'AHMEDABAD'), ('AMM', 'AMMAN'), ('AMS', 'AMSTERDAM'), ('AMS', 'AMSTERDAM'), ('ANF', 'ANTOFAGASTA'), ('ANK', 'ANKARA'), ('ANR', 'ANTWERP'), ('ANS', 'ANSBACH'), ('AOI', 'ANCONA'), ('AOT', 'AOSTA'), ('APW', 'APIA'), ('AQG', 'ANQING'), ('ARE', 'AREZZO'), ('ARI', 'ARICA'), ('ASH', 'ASHDOD'), ('ASN', 'ANSHAN'), ('ASP', 'ASCOLI PICENO'), ('ASR', 'KAYSERI'), ('AST', 'ASTI'), ('ASU', 'ASUNCION'), ('ATL', 'ATLANTA, GA'), ('ATL', 'ATLANTA, GA'), ('ATM', 'ALTAMIRA'), ('AUH', 'ABU DHABI'), ('AVE', 'AVELLINO'), ('AVI', 'AVILA'), ('AVN', 'AVIGNON'), ('AXT', 'AKITA'), ('AYI', 'AYIA NAPA'), ('AYN', 'ANYANG'), ('BAB', 'BRATISLAVA'), ('BAD', 'BAO DING'), ('BAH', 'BAHRAIN'), ('BAH', 'BAHRAIN'), ('BAL', 'BALTIMORE'), ('BAQ', 'BARRANQUILLA'), ('BAQ', 'BARRANQUILLA'), ('BAY', 'BAYUQUAN'), ('BCD', 'BACOLOD NEGROS'), ('BCN', 'BARCELONA'), ('BCN', 'BARCELONA'), ('BDJ', 'BANJARMASIN'), ('BEL', 'BELL BAY'), ('BEL', 'BELFAST'), ('BEN', 'BENXI'), ('BEN', 'BENEVENTO'), ('BER', 'BERLIN'), ('BER', 'BERLIN'), ('BEV', 'BEER SHEBA'), ('BEW', 'BEIRA'), ('BEY', 'BEIRUT'), ('BFE', 'BIELEFELD'), ('BGI', 'BRIDGETOWN'), ('BGO', 'BERGAMO'), ('BGO', 'BERGEN'), ('BGW', 'BAGHDAD'), ('BHM', 'BIRMINGHAM'), ('BHY', 'BEIHAI'), ('BIE', 'BIELLA'), ('BIN', 'BIN ZHOU'), ('BIO', 'BILBAO'), ('BIO', 'BILBAO'), ('BIR', 'BIRMINGHAM AL'), ('BJA', 'BEJAIA'), ('BJL', 'BANJUL'), ('BJO', 'BEIJIAO'), ('BJS', 'BEIJING'), ('BJX', 'BAO JI'), ('BJZ', 'BADAJOZ'), ('BKK', 'BANGKOK'), ('BKK', 'BANGKOK'), ('BKO', 'BAMAKO'), ('BLB', 'BALBOA'), ('BLQ', 'BOLOGNA'), ('BLR', 'BANGALORE'), ('BLW', 'BELAWAN'), ('BLX', 'BELLUNO'), ('BLZ', 'BLANTYRE'), ('BNE', 'BRISBANE'), ('BOD', 'BORDEAUX'), ('BOG', 'BOGOTA'), ('BOJ', 'BURGAS'), ('BOM', 'BOCHUM'), ('BOM', 'MUMBAI'), ('BON', 'BONNY'), ('BOS', 'BORAS'), ('BOS', 'BOSTON'), ('BOS', 'BOSTON'), ('BOT', 'BOTTROP'), ('BPN', 'BALIKPAPAN'), ('BRC', 'BRESCIA'), ('BRE', 'BREMEN'), ('BRE', 'BREMEN'), ('BRI', 'BARI'), ('BRN', 'BERN'), ('BRO', 'BROWNSVILLE, TX'), ('BRQ', 'BRNO'), ('BRS', 'BRISTOL'), ('BRU', 'BRUSSEL'), ('BRU', 'BRUSSEL'), ('BRV', 'BREMERHAVEN'), ('BSG', 'BATA'), ('BSL', 'BASEL'), ('BSR', 'BASRA'), ('BTH', 'BATAM'), ('BTU', 'BINTULU'), ('BUD', 'BUDAPEST'), ('BUE', 'BUENOS AIRES'), ('BUE', 'BUENOS AIRES'), ('BUF', 'BUFFALO, NY'), ('BUN', 'BUENAVENTURA'), ('BUQ', 'BULAWAYO'), ('BUR', 'BURGOS'), ('BWE', 'BRAUNSCHWEIG'), ('BWI', 'BALTIMORE'), ('BXU', 'BUTUAN'), ('BZE', 'BELIZE CITY'), ('BZO', 'BOLZANO'), ('CAD', 'CADIZ'), ('CAG', 'CAGLIARI'), ('CAI', 'CAIRO'), ('CAL', 'CALGARY'), ('CAN', 'GUANGZHOU, CHINA'), ('CAN', 'GUANGZHOU, XINGFENG'), ('CAU', 'CAUCEDO'), ('CBB', 'COCHABAMBA'), ('CCF', 'CARCASSONNE'), ('CCS', 'CACERES'), ('CCS', 'CARACAS'), ('CCU', 'CALCUTTA'), ('CDF', 'CARDIFF'), ('CDG', 'CHARLES DE GAULLE'), ('CEB', 'CEBU'), ('CEU', 'CEUTA'), ('CEZ', 'CESENA'), ('CGN', 'KOLN'), ('CGP', 'CHITTAGONG'), ('CGQ', 'CHANG CHUN'), ('CGU', 'CHANGSHU'), ('CGY', 'CAGAYAN DE ORO'), ('CHB', 'CHIBA'), ('CHC', 'CHRISTCHURCH'), ('CHE', 'CHEMNITZ'), ('CHI', 'CHICAGO IL'), ('CHS', 'CHARLESTON SC'), ('CII', 'CHIETI'), ('CIO', 'CORINTO'), ('CIR', 'CIUDAD REAL'), ('CIX', 'CIXI'), ('CJB', 'COIMBATORE'), ('CKG', 'CHONGQING'), ('CKY', 'CONAKRY'), ('CLA', 'AEROPUERTO CALLAO'), ('CLE', 'CLEVELAND, OH'), ('CLL', 'CALLAO'), ('CLO', 'CALI'), ('CLT', 'CHARLOTTE'), ('CLY', 'CELAYA'), ('CMB', 'COLOMBO'), ('CMH', 'COLUMBUS, OH'), ('CNG', 'CHENG DE'), ('COB', 'CAMPOBASSO'), ('COK', 'COCHIN'), ('COL', 'COLON'), ('COL', 'COLIMA'), ('COO', 'COTONOU'), ('COR', 'CORDOBA'), ('COT', 'COTTBUS'), ('COZ', 'CHAOZHOU'), ('CPG', 'CHANGPING'), ('CPH', 'COPENHAGEN'), ('CPT', 'CAPE TOWN'), ('CPT', 'CAPETOWN'), ('CRE', 'CREMONA'), ('CRQ', 'CHARLOTTE NC'), ('CSJ', 'CASTEJON'), ('CSJ', 'CASTRIES'), ('CSO', 'COCO SOLO'), ('CST', 'CASERTA'), ('CSX', 'CHANGSHA'), ('CTA', 'CATANIA'), ('CTB', 'CRISTOBAL'), ('CTG', 'CARTAGENA'), ('CTS', 'CALTANISSETTA'), ('CTU', 'CHENGDU'), ('CUE', 'CUENCA'), ('CUL', 'CULIACAN'), ('CUN', 'CUNEO'), ('CVV', 'CIVITAVECCHIA'), ('CWN', 'CHIWAN'), ('CYG', 'CHAOYANG'), ('CZL', 'CONSTANTINE'), ('CZU', 'CANGZHOU'), ('CZX', 'CHANGZHOU'), ('DAA', 'DAGANG'), ('DAC', 'DHAKA'), ('DAD', 'DANANG'), ('DAL', 'DALLAS TX'), ('DAR', 'DARMSTADT'), ('DAT', 'DATONG'), ('DAX', 'DAXIAN'), ('DCB', 'DA CHAN BAY'), ('DDG', 'DANDONG'), ('DEL', 'DELHI'), ('DFW', 'DALLAS'), ('DGG', 'DONGGUAN'), ('DGT', 'DONGTAI'), ('DGT', 'DUMAGUETE'), ('DIJ', 'DIJON'), ('DKR', 'DAKAR'), ('DLA', 'DOUALA'), ('DLC', 'DALIAN'), ('DOH', 'DOHA'), ('DOU', 'DOUMEN'), ('DQG', 'DAQING'), ('DRS', 'DRESDEN'), ('DRW', 'DARWIN'), ('DRZ', 'DURRES'), ('DTM', 'DORTMUND'), ('DTW', 'DETROIT'), ('DUB', 'DUBLIN'), ('DUD', 'DUNEDIN'), ('DUI', 'DUISBURG'), ('DUR', 'DURBAN'), ('DUS', 'DUSSELDORF'), ('DUS', 'DUSSELDORF'), ('DXB', 'DUBAI'), ('DXY', 'DERBY'), ('EAS', 'SAN SEBASTIAN'), ('EBA', 'ELBA'), ('EBJ', 'ESBJERG'), ('EDL', 'ELDORET'), ('EGU', 'EL GUAMACHE'), ('ELS', 'EAST LONDON'), ('ENO', 'ENNA'), ('ERF', 'ERFURT'), ('ESE', 'ENSENADA'), ('ESS', 'ESSEN'), ('ETP', 'ECATEPEC'), ('EWR', 'NEWARK'), ('EWR', 'NEWARK'), ('FAN', 'FANG CHENG'), ('FAS', 'FANGSHAN'), ('FKI', 'FENGKAI'), ('FLF', 'FLENSBURG'), ('FLN', 'FLORIANOPOLIS'), ('FLR', 'FIRENZE'), ('FMG', 'FAMAGUSTA'), ('FNA', 'FREETOWN'), ('FNI', 'NIMES'), ('FOC', 'FUZHOU'), ('FOG', 'FOGGIA'), ('FOR', 'FORTALEZA'), ('FOS', 'FOSHAN'), ('FOS', 'FOS SUR MER '), ('FRA', 'FRANKFURT'), ('FRE', 'FREMANTLE'), ('FRK', 'FREDRIKSTAD'), ('FRL', 'FORLI'), ('FRO', 'FROSINONE'), ('FRR', 'FERRARA'), ('FRW', 'FRANCISTOWN'), ('FSN', 'FU SHUN '), ('FTQ', 'FORTUNA'), ('FUN', 'FUNAFUTI'), ('FUX', 'FUXIN'), ('FXT', 'FELIXSTOWE'), ('FYA', 'FUYANG'), ('GAI', 'GAIZHOU'), ('GAY', 'GAOYAO'), ('GBE', 'GABORONE'), ('GBO', 'GREENSBORO, NC'), ('GDL', 'GUADALAJARA'), ('GDL', 'GUADALAJARA'), ('GDN', 'GDANSK'), ('GDY', 'GDYNIA'), ('GEA', 'GERA'), ('GEK', 'GELSENKIRCHEN'), ('GEO', 'GEORGETOWN'), ('GES', 'GENERAL SANTOS'), ('GIB', 'GIBRALTAR'), ('GIG', 'RIO DE JANIERO'), ('GIJ', 'GIJON'), ('GLW', 'GLASGOW'), ('GOA', 'GENOVA'), ('GOM', 'GAOMING'), ('GOT', 'GOTHENBURG'), ('GRO', 'GERONA'), ('GRS', 'GROSSETO'), ('GRU', 'GUARULHOS'), ('GRX', 'GRANADA'), ('GRZ', 'GRAZ'), ('GUA', 'GUADALAJARA'), ('GUA', 'GUATEMALA'), ('GUA', 'GUATEMALA CITY'), ('GUG', 'GUIGANG'), ('GUM', 'GUAM'), ('GUR', 'ALOTAU'), ('GVA', 'GENEVE'), ('GYE', 'GUAYAQUIL'), ('GYE', 'GUAYAQUIL'), ('GZA', 'GORIZIA'), ('HAD', 'HADERA'), ('HAG', 'HAGEN'), ('HAI', 'RIO HAINA'), ('HAJ', 'HANNOVER'), ('HAK', 'HAIKOU'), ('HAL', 'Halifax'), ('HAL', 'HALLE'), ('HAM', 'HAMBURGO'), ('HAM', 'HAMBURG'), ('HAN', 'HANOI'), ('HAS', 'HASTINGS'), ('HAV', 'LA HABANA'), ('HBA', 'HOBART'), ('HBE', 'BURJ AL ARAB'), ('HDX', 'HAN DAN '), ('HEE', 'HERNE'), ('HEI', 'HEIDELBERG'), ('HEL', 'HELSINKI'), ('HEL', 'HELSINGBORG'), ('HEN', 'HEILBRONN'), ('HFA', 'HAIFA'), ('HFE', 'HEFEI'), ('HGH', 'HANGZHOU'), ('HIJ', 'HIROSHIMA'), ('HIL', 'HILDESHEIM'), ('HIN', 'HAINING'), ('HIS', 'HENGSHUI'), ('HKG', 'HONG KONG'), ('HKG', 'HONG KONG'), ('HLO', 'HULUDAO'), ('HLZ', 'HAMILTON'), ('HME', 'HAIMEN'), ('HMM', 'HAMM'), ('HMN', 'HUMEN'), ('HMN', 'HAMINA'), ('HMO', 'HERMOSILLO'), ('HMY', 'HAMEENLINNA'), ('HNY', 'HENGYANG'), ('HOD', 'HODEIDAH'), ('HOU', 'HOUSTON'), ('HOU', 'HOUSTON TX'), ('HPH', 'HAIPHONG'), ('HPU', 'HUANGPU, WUCHONG'), ('HRB', 'HARBIN'), ('HRE', 'HARARE'), ('HSH', 'HUANGSHAN'), ('HSI', 'HUANGSHI'), ('HSN', 'HESHAN'), ('HTD', 'HAKATA'), ('HUA', 'HUANGPU'), ('HUC', 'HUNCHUN'), ('HUC', 'HUESCA'), ('HUI', 'HUIZHOU'), ('HUI', 'HUE'), ('HUV', 'HUELVA'), ('HYD', 'HYDERABAD'), ('HYN', 'HUANGYAN'), ('HZG', 'HANZHONG'), ('HZH', 'HUZHOU'), ('IBZ', 'IBIZA'), ('IBZ', 'IBIZA'), ('ICD', 'NEW DELHI'), ('IEV', 'KIEV'), ('ILQ', 'ILO'), ('IMB', 'IMABARI'), ('IMP', 'IMPERIA'), ('INC', 'INCHON'), ('INC', 'INCHEON'), ('IND', 'INDIANAPOLIS, IN'), ('ING', 'INGOLSTADT'), ('INN', 'INNSBRUCK'), ('IQQ', 'IQUIQUE'), ('IQQ', 'IQUIQUE'), ('ISB', 'ISLAMABAD'), ('ISE', 'ISERNIA'), ('ISM', 'ISMAILIA'), ('IST', 'ISTANBUL'), ('ITG', 'ITAGUAI'), ('ITJ', 'ITAJAI'), ('IVC', 'INVERCARGILL'), ('IZM', 'IZMIR'), ('JAE', 'JAEN'), ('JAX', 'JACKSONVILLE FL'), ('JDZ', 'JINGDEZHEN'), ('JEA', 'JEBEL ALI'), ('JEN', 'JENA'), ('JFK', 'NEW YORK-JOHN F. KENNEDY APT'), ('JHA', 'JINHUA'), ('JIA', 'JIANGYIN'), ('JIB', 'DJIBOUTI'), ('JIG', 'JIADING'), ('JIL', 'JILIN'), ('JIX', 'JIAXING'), ('JJG', 'JIUJIANG'), ('JKT', 'JAKARTA'), ('JMN', 'JIANGMEN'), ('JMU', 'JIAMUSI'), ('JNB', 'JOHANNESBURG'), ('JNB', 'JOHANNESBURG'), ('JNN', 'JINING'), ('JNZ', 'JINZHOU'), ('JOE', 'JOENSUU'), ('JRG', 'JURONG'), ('JXN', 'JIAOXIN'), ('JYV', 'JYVASKYLA'), ('JZH', 'JIAO ZHOU'), ('JZU', 'JIUZHOU'), ('KAJ', 'KAJAANI'), ('KAS', 'KASSEL'), ('KEL', 'KIEL'), ('KEL', 'KEELUNG'), ('KEN', 'KEMPTEN'), ('KFG', 'KAIFENG'), ('KGL', 'KIGALI'), ('KHH', 'KAOSHIUNG'), ('KHI', 'KARACHI'), ('KHN', 'NANCHANG'), ('KIH', 'KISH ISLAND'), ('KIN', 'KINGSTON'), ('KIN', 'KINGSTON'), ('KIS', 'KISUMU'), ('KIW', 'KITWE'), ('KIY', 'KAIYUN'), ('KLA', 'KAMPALA'), ('KLJ', 'KLAIPEDA'), ('KLT', 'KAISERSLAUTERN'), ('KLZ', 'KALAMAZOO'), ('KMJ', 'KUMAMOTO'), ('KNZ', 'KANAZAWA'), ('KOK', 'KOKKOLA'), ('KOK', 'KOKURA'), ('KOL', 'KOLDING'), ('KOR', 'KORSAKOV'), ('KPN', 'KAIPING'), ('KRK', 'KRAKOW'), ('KRS', 'KRISTIANSAND'), ('KRT', 'KHARTOUM'), ('KTK', 'KOTKA'), ('KTN', 'KINGSTOWN'), ('KUB', 'KUALA BELAIT'), ('KUL', 'KUALA LUMPUR'), ('KUN', 'KAUNAS'), ('KUO', 'KUOPIO'), ('KUS', 'KUNSHAN'), ('KVG', 'KAVIENG'), ('KWI', 'KUWAIT'), ('KWL', 'GUILIN'), ('LAD', 'LUANDA'), ('LAE', 'LAE'), ('LAG', 'LA GUAIRA'), ('LAI', 'LAIZHOU'), ('LAS', 'LAS VEGAS'), ('LAU', 'LAUSANNE'), ('LAX', 'LOS ANGELES'), ('LAX', 'LOS ANGELES ,CA'), ('LBC', 'LÜBECK'), ('LBH', 'LABUAN HAJI'), ('LBV', 'LIBREVILLE'), ('LCA', 'LARNACA'), ('LCC', 'LECCE'), ('LCG', 'CORUÑA'), ('LCH', 'LAEM CHABANG'), ('LCO', 'LECCO'), ('LCV', 'LUCCA'), ('LEH', 'LE HAVRE'), ('LEI', 'ALMERIA'), ('LEI', 'LEIXOES'), ('LEJ', 'LEIPZIG'), ('LEN', 'LEON'), ('LEN', 'LEON'), ('LEV', 'LEVERKUSEN'), ('LEV', 'LEVIN'), ('LFG', 'LANGFANG'), ('LFW', 'LOME'), ('LGO', 'LUGO'), ('LHE', 'LAHORE'), ('LHI', 'LAHTI'), ('LHR', 'LONDON HEATROW'), ('LHW', 'LAN ZHOU'), ('LIA', 'LIAOYANG'), ('LIH', 'LIANHUASHAN'), ('LIM', 'LIMA'), ('LIN', 'MILANO-LINATE APT'), ('LIO', 'PUERTO LIMON'), ('LIO', 'LYON'), ('LIS', 'LISHUI'), ('LIS', 'LISBOA'), ('LIU', 'LINDAU'), ('LIV', 'LIVERPOOL'), ('LIV', 'LIVORNO'), ('LJD', 'LERIDA'), ('LJU', 'LJUBLJANA'), ('LKU', 'LONGKOU'), ('LLE', 'LILLE'), ('LLW', 'LILONGWE'), ('LMS', 'LIMASSOL'), ('LNA', 'LINAN'), ('LNH', 'LINHAI'), ('LNZ', 'LINZ'), ('LOD', 'LODZ'), ('LON', 'LONDON'), ('LOS', 'LAGOS'), ('LPA', 'LAS PALMAS'), ('LPB', 'LA PAZ'), ('LPB', 'LA PAZ'), ('LPG', 'MOUPING'), ('LPX', 'LIEPAJA'), ('LQN', 'LIRQUEN'), ('LSH', 'LUSHUN'), ('LSI', 'LANSHI'), ('LTK', 'LAUTOKA'), ('LTK', 'LATAKIA'), ('LTN', 'LATINA'), ('LUH', 'LUDWIGSHAFEN'), ('LUN', 'LUSAKA'), ('LUN', 'LUSAKA'), ('LVI', 'LIVINGSTONE'), ('LYA', 'LUO YANG'), ('LYD', 'LAIYANG'), ('LYG', 'LIANYUNGANG'), ('LYI', 'LINYI'), ('LYP', 'FAISALABAD'), ('LYS', 'LYON-SATOLAS APT'), ('LYT', 'LYTTELTON'), ('LZH', 'LIUZHOU'), ('MAA', 'MAANSHAN'), ('MAA', 'CHENNAI'), ('MAD', 'MADRID'), ('MAD', 'MADRID'), ('MAG', 'MAGDEBURG'), ('MAG', 'MADANG'), ('MAH', 'MAHON MENORCA'), ('MAI', 'MAINZ'), ('MAI', 'MAIZURU'), ('MAJ', 'MAJURO'), ('MAN', 'MANTOVA'), ('MAR', 'MARACAIBO'), ('MAT', 'MATSAPHA'), ('MAW', 'MAWEI'), ('MAW', 'MAHE'), ('MBA', 'MOMBASA'), ('MBT', 'MASBATE'), ('MBX', 'MARIBOR'), ('MCA', 'MACERATA'), ('MDE', 'MEDELLIN'), ('MDE', 'MEDELLIN'), ('MDZ', 'MENDOZA'), ('MEL', 'MELBOURNE'), ('MEL', 'MELBOURNE'), ('MEM', 'MEMPHIS TN'), ('MER', 'MERSIN'), ('MEX', 'MEXICO'), ('MEX', 'MEXICO CITY'), ('MGA', 'MANAGUA'), ('MGA', 'MANAGUA'), ('MHG', 'MANNHEIM'), ('MIA', 'MIAMI'), ('MIA', 'MIAMI FL'), ('MIL', 'MILAN'), ('MIL', 'MILAN'), ('MIN', 'MINDELO'), ('MIT', 'MANZANILLO'), ('MIY', 'MIYUN'), ('MJV', 'MURCIA'), ('MKC', 'Kansas City , MO'), ('MLE', 'MALE'), ('MLN', 'MELILLA'), ('MLW', 'MONROVIA'), ('MMI', 'MAOMING'), ('MMO', 'MÜLHEIM'), ('MNC', 'MANCHESTER'), ('MNC', 'NACALA'), ('MNL', 'MANILA'), ('MOD', 'MODENA'), ('MOS', 'MOERS'), ('MPL', 'MONTPELLIER'), ('MPL', 'MONTPELLIER'), ('MPM', 'MAPUTO'), ('MRS', 'MARSELLA'), ('MRS', 'MARSEILLE'), ('MSN', 'MESSINA'), ('MSQ', 'MINSK'), ('MSU', 'MASERU'), ('MSY', 'NEW ORLEANS LA'), ('MTR', 'MONTREAL'), ('MTR', 'MATERA'), ('MTS', 'MANZINI'), ('MTY', 'MONTERREY'), ('MTY', 'MONTERREY'), ('MUA', 'MUARA'), ('MUC', 'MUNICH'), ('MUG', 'MUUGA'), ('MUN', 'MUNDRA'), ('MUT', 'MY THO'), ('MUX', 'MULTAN'), ('MVD', 'MONTEVIDEO'), ('MXP', 'MALPENSA'), ('MYJ', 'MATSUYAMA'), ('NAH', 'NANHAI'), ('NAH', 'NAHA / OKINAWA'), ('NAR', 'NARBONNE'), ('NBO', 'NAIROBI'), ('NCE', 'NICE'), ('NDG', 'QIQIHAR'), ('NGB', 'NINGBO'), ('NGB', 'NINGBO'), ('NGG', 'NANGANG'), ('NGS', 'NAGASAKI'), ('NGY', 'NAGOYA, OITA'), ('NHA', 'NHA TRANG'), ('NHE', 'NINGHE'), ('NHI', 'NANHUI'), ('NIC', 'NICOSIA'), ('NIM', 'NIAMEY'), ('NIN', 'NINGHAI'), ('NKG', 'NANJING'), ('NLA', 'NDOLA'), ('NMD', 'NAM DINH'), ('NNG', 'NANNING'), ('NOU', 'NOUMEA'), ('NPE', 'NAPIER'), ('NPL', 'NEW PLYMOUTH'), ('NPS', 'NANPING'), ('NRT', 'NARITA APT/TOKYO'), ('NSA', 'NANSHA'), ('NSA', 'NHAVA SHEVA'), ('NSN', 'NELSON'), ('NSS', 'NEUSS'), ('NTG', 'NANTONG'), ('NUE', 'NÜRNBERG'), ('NUW', 'NUWAIBA'), ('NVR', 'NOVARA'), ('NVS', 'NAVOJOA'), ('NVT', 'NAVEGANTES'), ('NYC', 'NEW YORK'), ('NYC', 'NEW YORK'), ('NYG', 'NANYANG'), ('NYU', 'NASSAU'), ('OAK', 'OAKLAND, CA'), ('OBR', 'OBREGON'), ('ODB', 'CORDOBA'), ('ODE', 'ODENSE'), ('ODS', 'ODESSA'), ('OFF', 'OFFENBACH'), ('OHS', 'OBERHAUSEN'), ('OIT', 'OITA'), ('OLO', 'OLDENBURG'), ('OLU', 'OULU'), ('OMO', 'COMO'), ('ONX', 'COLON'), ('OPO', 'PORTO'), ('OPO', 'OPORTO'), ('ORD', 'CHICAGO'), ('ORE', 'ORENSE'), ('ORF', 'NORFOLK VA'), ('ORK', 'CORK'), ('ORL', 'ORLANDO, FL'), ('ORN', 'ORAN'), ('OSA', 'OSAKA'), ('OSL', 'OSLO'), ('OSN', 'OSNABRÜCK'), ('OTP', 'BUCURESTI-OTOPENI APT'), ('OUA', 'OUAGADOUGOU'), ('OVO', 'OVIEDO'), ('OXB', 'BISSAU'), ('PAC', 'PALENCIA'), ('PAI', 'PAITA'), ('PAO', 'PADBORG'), ('PAR', 'PARIS'), ('PAV', 'PAVIA'), ('PBC', 'PUEBLA'), ('PBL', 'PUERTO CABELLO'), ('PBM', 'PARAMARIBO'), ('PBR', 'PUERTO BARRIOS'), ('PCR', 'PUERTO CORTES'), ('PCZ', 'PIACENZA'), ('PDA', 'PADOVA'), ('PDG', 'PADANG'), ('PDU', 'PING DU'), ('PDX', 'PORTLAND'), ('PEC', 'PECEM'), ('PEF', 'PORT EVERGLADES'), ('PEG', 'PERUGIA'), ('PEK', 'BEIJING'), ('PEN', 'PENANG'), ('PER', 'PERTH'), ('PER', 'PERAWANG'), ('PES', 'PESARO'), ('PEV', 'PONTEVEDRA'), ('PEW', 'PESHAWAR'), ('PFO', 'PAPHOS'), ('PGF', 'PERPIGNAN'), ('PGU', 'PASIR GUDANG, JOHOR'), ('PHL', 'PHILADELPHIA'), ('PIN', 'PINGXIANG'), ('PIR', 'PIRAEUS'), ('PJI', 'PANJIN'), ('PKG', 'PORT KELANG'), ('PLA', 'PENG LAI'), ('PLU', 'PORT LOUIS'), ('PLZ', 'PORT ELIZABETH'), ('PMF', 'PARMA'), ('PMI', 'PALMA MALLORCA'), ('PMI', 'PALMA DE MALLORCA'), ('PMO', 'PALERMO'), ('PMR', 'PALMERSTON NORTH'), ('PNA', 'PAMPLONA'), ('PNG', 'PARANAGUA'), ('PNH', 'PHNOM PENH'), ('PNR', 'POINTE NOIRE'), ('PNY', 'PONDICHERRY'), ('POA', 'PORTO ALEGRE'), ('POE', 'PORT CHALMERS'), ('POM', 'PORT MORESBY*'), ('POR', 'PORI/ BJORNEBORG'), ('POS', 'PUERTO ESPAÑA'), ('POT', 'POTSDAM'), ('POZ', 'POZNAN'), ('PPG', 'PAGO PAGO'), ('PPT', 'PAPEETE'), ('PRD', 'PORDENONE'), ('PRG', 'PRAGUE'), ('PRQ', 'PUERTO QUETZAL'), ('PSA', 'PISA'), ('PSD', 'PORT SAID'), ('PSR', 'PESCARA'), ('PTC', 'PUERTO CALDERA'), ('PTQ', 'PETAH TIQWA'), ('PTS', 'POINT LISAS'), ('PTY', 'PANAMA CITY'), ('PTY', 'PANAMA CITY'), ('PUQ', 'PUNTA ARENAS'), ('PUS', 'BUSAN'), ('PUT', 'PUTIAN'), ('PYU', 'PANYU'), ('PZU', 'PORT SUDAN'), ('QCS', 'COSENZA'), ('QCZ', 'CATANZARO'), ('QIX', 'QINGXIAN'), ('QMN', 'MBABANE'), ('QNU', 'NUORO'), ('QPU', 'QINGPU'), ('QRO', 'QUERETARO'), ('QUF', 'QU FU'), ('QUZ', 'QUZHOU'), ('RAN', 'RANDERS'), ('RAN', 'RAVENNA'), ('RAR', 'RAROTONGA'), ('RAU', 'RAUMA'), ('REC', 'RECIFE'), ('REC', 'RECKLINGHAUSEN'), ('RED', 'REMSCHEID'), ('REG', 'REGENSBURG'), ('REG', 'REGGIO CALABRIA'), ('REH', 'REHOVOT'), ('REY', 'REYKJAVIK'), ('RIO', 'RIO DE JANEIRO'), ('RIO', 'RIO DE JANEIRO'), ('RIX', 'RIGA'), ('RLZ', 'RISHON LETSIYON'), ('RMI', 'RIMINI'), ('RNG', 'RONGCHENG'), ('ROQ', 'RONGQI'), ('ROR', 'KOROR'), ('ROT', 'ROTORUA'), ('RSH', 'RUSHAN'), ('RSK', 'ROSTOCK'), ('RTM', 'ROTTERDAM'), ('RUG', 'RUGAO'), ('RVN', 'ROVANIEMI'), ('RVO', 'ROVIGO'), ('RWP', 'RAWALPINDI'), ('RZH', 'RI ZHAO'), ('SAC', 'SHUANGCHENG'), ('SAD', 'SADAT CITY'), ('SAD', 'SANDEFJORD'), ('SAI', 'SAN ANTONIO '), ('SAL', 'SALERNO'), ('SAL', 'SAN SALVADOR'), ('SAL', 'SAN SALVADOR'), ('SAM', 'SANTA MARIA'), ('SAN', 'SAN DIEGO CA'), ('SAN', 'SANTO'), ('SAP', 'SAN PEDRO SULA'), ('SAR', 'SALZGITTER'), ('SAS', 'SANDNES'), ('SAT', 'SAN ANTONIO'), ('SAV', 'Savannah, GA'), ('SBU', 'SANBU'), ('SCL', 'SANTIAGO'), ('SCL', 'SANTIAGO DE CHILE'), ('SDG', 'SHUIDONG'), ('SDQ', 'SANTO DOMINGO'), ('SDQ', 'SANTO DOMINGO'), ('SDR', 'SANTANDER'), ('SEG', 'SEGOVIA'), ('SEL', 'SEOUL'), ('SFA', 'SFAX'), ('SFO', 'SAN FRANCISCO'), ('SFO', 'SAN FRANCISCO'), ('SFS', 'SAO FRANCISCO DO SUL'), ('SGN', 'HO CHI MINH CITY'), ('SGU', 'SHANGYU'), ('SHA', 'SHANGHAI'), ('SHA', 'SHANGHAI'), ('SHD', 'SHIDAO'), ('SHE', 'SHENYANG'), ('SHH', 'SHANHAIGUAN'), ('SHJ', 'SHARJAH'), ('SHK', 'SHEKOU'), ('SHS', 'SHIMONOSEKI'), ('SIE', 'SINES'), ('SIH', 'SIHUI'), ('SIN', 'SINGAPORE'), ('SIN', 'SINGAPORE'), ('SIR', 'SIRACUSA'), ('SJD', 'SAN JOSE DE CABO'), ('SJO', 'SAN JOSE'), ('SJO', 'SAN JOSE'), ('SJU', 'SAN JUAN'), ('SKG', 'THESSALONIKI'), ('SKO', 'SHUIKOU'), ('SKT', 'SAKATA'), ('SKT', 'SIALKOT'), ('SLC', 'SALT LAKE CITY'), ('SLM', 'SALAMANCA'), ('SLP', 'SAN LUIS POTOSI'), ('SMN', 'SAKAIMINATO'), ('SMZ', 'SHIMIZU'), ('SND', 'SONDRIO'), ('SNU', 'SANSHU'), ('SOC', '6TH OCTOBER'), ('SOF', 'SOFIA'), ('SOL', 'SOLINGEN'), ('SOR', 'SORIA'), ('SOU', 'SOUTHAMPTON'), ('SPE', 'LA SPEZIA'), ('SPG', 'SIPING'), ('SPN', 'SAIPAN'), ('SPQ', 'SAN PEDRO'), ('SRZ', 'SANTA CRUZ'), ('SSA', 'SALVADOR'), ('SSG', 'NO UTILIZAR'), ('SSG', 'MALABO'), ('SSZ', 'SANTOS'), ('STO', 'STOCKHOLM'), ('STR', 'STUTTGART'), ('STZ', 'SANTO TOMAS'), ('SUB', 'SURABAYA'), ('SUD', 'SHUNDE'), ('SUN', 'SHUNYI'), ('SUS', 'SOUSSE'), ('SUV', 'SUVA'), ('SUZ', 'SULZBACH'), ('SVE', 'SAN VICENTE'), ('SVG', 'STAVANGER'), ('SVO', 'SHEREMETYEVO APT/MOSCOW'), ('SVQ', 'SEVILLA'), ('SWA', 'SHANTOU'), ('SWR', 'SCHWERIN'), ('SXB', 'STRASBOURG'), ('SYD', 'SYDNEY'), ('SYN', 'SHIYAN'), ('SZG', 'SALZBURG'), ('SZH', 'SUZHOU'), ('SZX', 'SHENZHEN'), ('SZX', 'SHENZHEN'), ('SZZ', 'SZCZECIN'), ('TAC', 'TACOMA, WASHINGTON'), ('TAG', 'TAICANG'), ('TAK', 'TAKAMATSU'), ('TAL', 'TALCAHUANO'), ('TAO', 'QINGDAO'), ('TAP', 'TAIPING'), ('TAR', 'TARRAGONA'), ('TAR', 'TARANTO'), ('TAY', 'TARTU'), ('TBU', 'NUKUALOFA'), ('TEM', 'TEMA'), ('TEO', 'TERAMO'), ('TER', 'TERUEL'), ('TER', 'TERNI'), ('TES', 'SEMARANG'), ('TGH', 'TONGHUA'), ('TGU', 'TEGUCIGALPA'), ('TGU', 'TEGUCIGALPA'), ('THO', 'THANH HOA'), ('THP', 'THAMESPORT'), ('THS', 'TOYOHASHI'), ('TIA', 'TIRANA'), ('TIA', 'TIANTAI'), ('TIL', 'TIELING'), ('TIL', 'TILBURY'), ('TIP', 'TRIPOLI'), ('TIU', 'TIMARU'), ('TIZ', 'TAIZHOU'), ('TKS', 'TOKUSHIMA'), ('TLB', 'TILBURG'), ('TLL', 'TALLINN'), ('TLM', 'TLEMCEN'), ('TLS', 'TOULOUSE'), ('TLS', 'TOULOUSE'), ('TLV', 'TEL AVIV'), ('TMH', 'TAIYUAN'), ('TMK', 'TOMAKOMAI'), ('TMP', 'TAMAULIPAS'), ('TNA', 'JINAN'), ('TOL', 'TOLEDO'), ('TON', 'TONGLU'), ('TOR', 'TORONTO'), ('TOS', 'TOYAMASHINKO'), ('TOY', 'TOYAMA'), ('TPE', 'TAIPEI'), ('TPE', 'TAIPEI'), ('TRC', '10TH RAMADAN'), ('TRD', 'TRONDHEIM'), ('TRG', 'TSURUGA'), ('TRG', 'TAU

In [31]:
df_puerto[df_puerto.duplicated(subset=["CodigoPuerto","CodigoPais","NombrePuerto"],keep=False)]

     CodigoPuerto CodigoPais NombrePuerto TipoTransporte  EsPuertoLocal
20            AGP         ES       MALAGA              A              0
21            AGP         ES       MALAGA              M              0
25            AKL         NZ     AUCKLAND              A              0
26            AKL         NZ     AUCKLAND              M              0
28            ALC         ES     ALICANTE              A              0
...           ...        ...          ...            ...            ...
972           UIO         EC        QUITO              M              0
988           VLC         ES     VALENCIA              A              0
989           VLC         ES     VALENCIA              M              0
1054          ZRH         CH       ZURICH              A              0
1055          ZRH         CH       ZURICH              M              0

[100 rows x 5 columns]

In [32]:
# Eliminar todos los espacios en blanco de los nombres de puerto para la generacion de nuevos codigos de puerto
df_puerto["NombreAntiguo"] = df_puerto['NombrePuerto']
df_puerto['NombrePuerto'] = df_puerto['NombrePuerto'].astype(str).str.replace(' ', '').str.upper()

In [33]:
from collections import defaultdict
# Guardar código antiguo 
df_puerto['CodAntiguo'] = df_puerto.get('CodigoPuerto', None)

# Funcion para generar codigo tomando en cuenta la primera letra , 2 letras del medio y la ultima letra
def generar_codigo_base(nombre):
    nombre = nombre.strip().upper()
    longitud = len(nombre)

    if longitud >= 4:
        medio1 = (longitud - 1) // 2
        medio2 = medio1 + 1 if medio1 + 1 < longitud else medio1
        return nombre[0] + nombre[medio1] + nombre[medio2] + nombre[-1]
    else:
        # Si el nombre es corto, rellenar con 'X'
        return (nombre + 'XXXX')[:4]

# Generar columna auxiliar
df_puerto['CodigoBase'] = df_puerto['NombrePuerto'].apply(generar_codigo_base)
nombre_a_codigo = {}  # (nombre, pais) → código asignado
codigos_usados = defaultdict(set)  # base → set de claves (nombre, pais)
contador = defaultdict(int)
codigos_finales = []

for _, row in df_puerto.iterrows():
    base = row['CodigoBase']
    nombre = row['NombrePuerto'].strip().upper()
    pais = row['CodigoPais'].strip().upper()
    clave = (nombre, pais)

    if clave in nombre_a_codigo:
        # Ya se asignó este nombre+país antes → reutiliza código
        codigos_finales.append(nombre_a_codigo[clave])
    else:
        if codigos_usados[base]:
            # Ese base ya fue usado para otro nombre o país → colisión
            contador[base] += 1
            nuevo_codigo = f"{base}{contador[base]}"
            codigos_finales.append(nuevo_codigo)
            nombre_a_codigo[clave] = nuevo_codigo
        else:
            # Primer uso de ese base
            codigos_finales.append(base)
            nombre_a_codigo[clave] = base

        codigos_usados[base].add(clave)

In [34]:
# Asignar código final
df_puerto['CodigoPuerto'] = codigos_finales
df_puerto.drop(columns=['CodigoBase'], inplace=True)

In [35]:
print(df_puerto)

     CodigoPuerto CodigoPais NombrePuerto TipoTransporte  EsPuertoLocal  \
0            KPER         SI        KOPER              M              0
1            HARA         TR   HAYDARPASA              M              0
2            ANAA         DZ       ANNABA              M              0
3            ACHN         DE       AACHEN              M              0
4            ABOG         DK      AALBORG              M              0
...           ...        ...          ...            ...            ...
1056         ZGSN         CN    ZHONGSHAN              M              0
1057         ZUHI         CN       ZHUHAI              M              0
1058         ZCKU         DE      ZWICKAU              M              0
1059         XGAG         CN      XINGANG              M              0
1060         ZGZU         CN    ZHANGZHOU              M              0

     NombreAntiguo CodAntiguo
0            KOPER        123
1       HAYDARPASA        827
2           ANNABA        AAE
3           AACHEN        AAH
4          AALBORG        AAL
...            ...        ...
1056     ZHONGSHAN        ZSN
1057        ZHUHAI        ZUH
1058       ZWICKAU        ZWI
1059       XINGANG        ZZA
1060     ZHANGZHOU        ZZU

[1060 rows x 7 columns]

In [36]:
df_puerto[df_puerto.duplicated(subset=["CodigoPuerto","CodigoPais"])].index

Index([  21,   26,   29,   38,   56,   68,   71,   75,   82,   96,  105,  122,
        127,  134,  143,  149,  207,  260,  275,  308,  335,  365,  397,  409,
        435,  456,  541,  552,  565,  582,  585,  591,  596,  613,  625,  642,
        672,  720,  767,  794,  816,  830,  836,  841,  851,  855,  903,  922,
        938,  950,  963,  972,  989, 1036, 1038, 1055],
      dtype='int64')

In [37]:
columnas = ["CodigoPuerto","CodigoPais"]
fila_objetivo = df_puerto.loc[21,columnas]
coincidencias = df_puerto[columnas].eq(fila_objetivo).all(axis=1)
indices_coincidentes = df_puerto[coincidencias].index.tolist()
print(indices_coincidentes)

[20, 21]

In [38]:
df_puerto.loc[[20,21]]

,CodigoPuerto,CodigoPais,NombrePuerto,TipoTransporte,EsPuertoLocal,NombreAntiguo,CodAntiguo
20,MLAA,ES,MALAGA,A,0,MALAGA,AGP
21,MLAA,ES,MALAGA,M,0,MALAGA,AGP

In [39]:
df_puerto.drop_duplicates(subset=["CodigoPuerto", "CodigoPais"], keep="first", inplace=True)

In [40]:
df_puerto.to_csv("Puerto_silver.csv",index=False)

In [41]:
df_puerto = df_puerto.drop(["NombrePuerto",],axis=1)

In [42]:
df_puerto[df_puerto.duplicated(subset=["CodigoPuerto","CodigoPais"],keep=False)]

Empty DataFrame
Columns: [CodigoPuerto, CodigoPais, TipoTransporte, EsPuertoLocal, NombreAntiguo, CodAntiguo]
Index: []

In [43]:
df_puerto = df_puerto.drop(["CodAntiguo",],axis=1)

In [44]:
df_puerto=df_puerto.rename(columns={"NombreAntiguo": "NombrePuerto"})

In [45]:
df_puerto

     CodigoPuerto CodigoPais TipoTransporte  EsPuertoLocal NombrePuerto
0            KPER         SI              M              0        KOPER
1            HARA         TR              M              0   HAYDARPASA
2            ANAA         DZ              M              0       ANNABA
3            ACHN         DE              M              0       AACHEN
4            ABOG         DK              M              0      AALBORG
...           ...        ...            ...            ...          ...
1056         ZGSN         CN              M              0    ZHONGSHAN
1057         ZUHI         CN              M              0       ZHUHAI
1058         ZCKU         DE              M              0      ZWICKAU
1059         XGAG         CN              M              0      XINGANG
1060         ZGZU         CN              M              0    ZHANGZHOU

[1004 rows x 5 columns]

In [46]:
df_puerto.to_csv("Puerto_Gold.csv",index=False)