In [ ]:
#Importamos pandas y leemos la hoja nave de nuestro archivo excel
import pandas as pd
df_nave = pd.read_excel("Bd_Itinerarios.xlsx",sheet_name='nave')

In [4]:
#Revisamos la información del dataframe
df_nave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CodigoNave  947 non-null    object
 1   NombreNave  947 non-null    object
 2   Bandera     3 non-null      object
dtypes: object(3)
memory usage: 22.3+ KB

In [ ]:
#Revisamos la descripción del dataframe
df_nave.describe()

        CodigoNave NombreNave   Bandera
count          947        947         3
unique         947        947         2
top              1   MOL PACE  PORTUGAL
freq             1          1         2

In [ ]:
#Revisamos los nulos que hay por fila
df_nave.isnull().sum()

CodigoNave      0
NombreNave      0
Bandera       944
dtype: int64

In [ ]:
#Revisamos si es que hay algunas filas duplicadas
df_nave.duplicated().sum()

np.int64(0)

In [10]:
#Dado que bandera cuenta con demasiados valores nulos lo eliminamos 
df_nave = df_nave.drop("Bandera",axis=1)

In [ ]:
#Verificamos que se ha eliminado correctamente
df_nave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CodigoNave  947 non-null    object
 1   NombreNave  947 non-null    object
dtypes: object(2)
memory usage: 14.9+ KB

In [12]:
#Exportamos nuestro archivo
df_nave.to_csv("Nave_Gold.csv",index=False)