In [6]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\erick\onedrive\escritorio\itinerarios_etl\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\erick\onedrive\escritorio\itinerarios_etl\.venv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\erick\onedrive\escritorio\itinerarios_etl\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\erick\onedrive\escritorio\itinerarios_etl\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------  10.7/11.0 MB 61.0 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 42.9 MB/s eta 0:00:00
Downloading numpy-2.3.1-cp312-cp312-win_amd64.whl (12.7 MB)
   ---------------------------------------- 0.0/12.7 MB ? eta -:--:--
   ---------------------------------------  12.6/12.7 MB 98.6 MB/s eta 0:00:01
   ---------------------------------------- 12.7/12.7 MB 61.4 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.1 pandas-2.3.1 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Importamos pandas para poder leer el archivo excel
import pandas as pd
df_itinerario = pd.read_excel("Bd_Itinerarios.xlsx",sheet_name="itinerario")

In [16]:
df_itinerario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475 entries, 0 to 3474
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CodigoNave            3475 non-null   object
 1   Viaje                 3475 non-null   object
 2   Rumbo                 3475 non-null   object
 3   CodigoPaisCarga       3475 non-null   object
 4   CodigoPuertoCarga     3475 non-null   object
 5   CodigoPaisDesCarga    3475 non-null   object
 6   CodigoPuertoDesCarga  3475 non-null   object
 7   fechaSalida           3475 non-null   datetime64[ns]
 8   fechaLlegada          3475 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(7)
memory usage: 244.5+ KB

In [17]:
df_itinerario.describe()

                         fechaSalida                   fechaLlegada
count                           3475                           3475
mean   2023-05-13 11:51:30.302158080  2023-05-27 01:40:16.920863232
min              2022-05-02 00:00:00            2022-06-04 00:00:00
25%              2022-11-30 00:00:00            2022-12-12 12:00:00
50%              2023-05-06 00:00:00            2023-05-21 00:00:00
75%              2023-09-29 12:00:00            2023-10-12 00:00:00
max              2025-02-02 00:00:00            2025-02-04 00:00:00

In [18]:
df_itinerario["Viaje"] = (
    df_itinerario["Viaje"]
    .astype(str)                          # Convierte todo a string
    .str.replace(r'\D', '', regex=True)  # Elimina todo lo que no sea número
    .replace('', '0')                    # Reemplaza los vacíos con '0'
    .astype(int)                         # Convierte el resultado a entero
)

In [24]:
df_itinerario[df_itinerario.duplicated(subset=["CodigoNave","Viaje","CodigoPaisCarga","CodigoPuertoCarga","CodigoPaisDesCarga","CodigoPuertoDesCarga","fechaSalida","fechaLlegada"])].index

Index([  44,  149,  308,  320,  384,  394,  395,  526,  648,  722,  723,  734,
        735,  800, 1021, 1086, 1106, 1116, 1117, 1158, 1257, 1265, 1295, 1296,
       1363, 1384, 1396, 1489, 1494, 1510, 1511, 1612, 1683, 1684, 1705, 1743,
       1745, 1795, 1796, 1908, 1921, 1928, 1929, 1971, 2034, 2278, 2361, 2559,
       2599, 2620, 2698, 2898, 2899, 2955, 3058, 3059, 3083, 3233, 3248, 3384,
       3385, 3400, 3401, 3434, 3435],
      dtype='int64')

In [25]:
# Guardas la fila que quieres comparar
fila_objetivo = df_itinerario.loc[44]

# Comparas cada fila (axis=1 significa comparar por columnas)
coincidencias = df_itinerario.eq(fila_objetivo).all(axis=1)

# Ves todos los índices que son iguales a tu fila objetivo
indices_coincidentes = df_itinerario[coincidencias].index.tolist()

print(indices_coincidentes)

[23, 44]

In [23]:
df_itinerario.loc[[23,44]]

,CodigoNave,Viaje,Rumbo,CodigoPaisCarga,CodigoPuertoCarga,CodigoPaisDesCarga,CodigoPuertoDesCarga,fechaSalida,fechaLlegada
23,1,707,E,KR,PUS,PE,CLL,2022-09-20,2022-10-15
44,1,707,E,KR,PUS,PE,CLL,2022-09-20,2022-10-15

In [26]:
df_itinerario.drop_duplicates(subset=["CodigoNave","Viaje","CodigoPaisCarga","CodigoPuertoCarga","CodigoPaisDesCarga","CodigoPuertoDesCarga","fechaSalida","fechaLlegada"], keep="first", inplace=True)

In [27]:
df_itinerario[df_itinerario.duplicated(subset=["CodigoNave","CodigoPuertoCarga","CodigoPaisCarga","CodigoPaisDesCarga","CodigoPuertoDesCarga","fechaSalida","fechaLlegada"])].index

Index([ 100,  314,  315,  494,  525,  708,  802,  823,  900, 1367, 1370, 1371,
       1388, 1584, 1986, 2322, 2323, 3068, 3069, 3473],
      dtype='int64')

In [29]:
columnas = ["CodigoNave","CodigoPuertoCarga","CodigoPaisCarga","CodigoPaisDesCarga","CodigoPuertoDesCarga","fechaSalida","fechaLlegada"]
objetivo = df_itinerario.loc[100,columnas]

# Comparas cada fila (axis=1 significa comparar por columnas)
coincidencias = df_itinerario[columnas].eq(objetivo).all(axis=1)

# Ves todos los índices que son iguales a tu fila objetivo
indices_coincidentes = df_itinerario[coincidencias].index.tolist()
print(indices_coincidentes)

[99, 100]

In [30]:
df_itinerario.loc[[99,100]]

,CodigoNave,Viaje,Rumbo,CodigoPaisCarga,CodigoPuertoCarga,CodigoPaisDesCarga,CodigoPuertoDesCarga,fechaSalida,fechaLlegada
99,APLIND,44,N,CL,VAP,PE,CLL,2023-11-11,2023-11-15
100,APLIND,46,N,CL,VAP,PE,CLL,2023-11-11,2023-11-15

In [31]:
df_itinerario.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3410 entries, 0 to 3474
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CodigoNave            3410 non-null   object
 1   Viaje                 3410 non-null   int64
 2   Rumbo                 3410 non-null   object
 3   CodigoPaisCarga       3410 non-null   object
 4   CodigoPuertoCarga     3410 non-null   object
 5   CodigoPaisDesCarga    3410 non-null   object
 6   CodigoPuertoDesCarga  3410 non-null   object
 7   fechaSalida           3410 non-null   datetime64[ns]
 8   fechaLlegada          3410 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 395.4+ KB

In [32]:
df_itinerario.drop_duplicates(subset=["CodigoNave","CodigoPaisCarga","CodigoPuertoCarga","CodigoPaisDesCarga","CodigoPuertoDesCarga","fechaSalida","fechaLlegada"], keep="first", inplace=True)

In [33]:
duplicados = df_itinerario[df_itinerario.duplicated(keep=False)]
print(duplicados)

Empty DataFrame
Columns: [CodigoNave, Viaje, Rumbo, CodigoPaisCarga, CodigoPuertoCarga, CodigoPaisDesCarga, CodigoPuertoDesCarga, fechaSalida, fechaLlegada]
Index: []

In [34]:
df_itinerario.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3390 entries, 0 to 3474
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CodigoNave            3390 non-null   object
 1   Viaje                 3390 non-null   int64
 2   Rumbo                 3390 non-null   object
 3   CodigoPaisCarga       3390 non-null   object
 4   CodigoPuertoCarga     3390 non-null   object
 5   CodigoPaisDesCarga    3390 non-null   object
 6   CodigoPuertoDesCarga  3390 non-null   object
 7   fechaSalida           3390 non-null   datetime64[ns]
 8   fechaLlegada          3390 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 264.8+ KB

In [35]:
df_itinerario[df_itinerario.duplicated(subset=["CodigoNave","fechaSalida","fechaLlegada"], )].index

Index([  10,   33,   34,   45,  228,  229,  238,  260,  380,  396,  711, 1101,
       1377, 1382, 1497, 1611, 1693, 1699, 1736, 1811, 2007, 2013, 2025, 2238,
       2271, 2276, 2339, 2426, 2557, 2719, 2740, 2833, 2986, 3187, 3256, 3300,
       3381, 3402],
      dtype='int64')

In [36]:
columnas = ["CodigoNave","fechaSalida","fechaLlegada"]
fila_objetivo = df_itinerario.loc[10,columnas]

# Comparas cada fila (axis=1 significa comparar por columnas)
coincidencias = df_itinerario[columnas].eq(fila_objetivo).all(axis=1)

# Ves todos los índices que son iguales a tu fila objetivo
indices_coincidentes = df_itinerario[coincidencias].index.tolist()
print(indices_coincidentes)

[8, 10]

In [37]:
df_itinerario.loc[[8,10]]

,CodigoNave,Viaje,Rumbo,CodigoPaisCarga,CodigoPuertoCarga,CodigoPaisDesCarga,CodigoPuertoDesCarga,fechaSalida,fechaLlegada
8,1,1025,E,CN,SZX,HK,HKG,2023-09-19,2023-09-19
10,1,1025,E,KR,PUS,CN,SZX,2023-09-19,2023-09-19

In [38]:
duplicados = df_itinerario[df_itinerario.duplicated(keep=False)]
print(duplicados)

Empty DataFrame
Columns: [CodigoNave, Viaje, Rumbo, CodigoPaisCarga, CodigoPuertoCarga, CodigoPaisDesCarga, CodigoPuertoDesCarga, fechaSalida, fechaLlegada]
Index: []

In [39]:
df_itinerario[df_itinerario.isnull().any(axis=1)]

Empty DataFrame
Columns: [CodigoNave, Viaje, Rumbo, CodigoPaisCarga, CodigoPuertoCarga, CodigoPaisDesCarga, CodigoPuertoDesCarga, fechaSalida, fechaLlegada]
Index: []

In [40]:
df_puerto_silver = pd.read_csv("Puerto_silver.csv",sep=',')

In [41]:
#MAPEO
# En df_puertos (clave para mapear)
df_puerto_silver['Clave'] = df_puerto_silver['CodAntiguo'] + '|' + df_puerto_silver['CodigoPais']

# Diccionario: (CodAntiguo + CodigoPais) → CodigoPuerto
mapa_codigos = dict(zip(df_puerto_silver['Clave'], df_puerto_silver['CodigoPuerto']))

# En df_movimientos (clave para buscar)
df_itinerario['ClaveCarga'] = df_itinerario['CodigoPuertoCarga'] + '|' + df_itinerario['CodigoPaisCarga']
df_itinerario['ClaveDesCarga'] = df_itinerario['CodigoPuertoDesCarga'] + '|' + df_itinerario['CodigoPaisDesCarga']

In [42]:
df_itinerario['CodigoPuertoCargaAntiguo'] = df_itinerario['CodigoPuertoCarga']
df_itinerario['CodigoPuertoDesCargaAntiguo'] = df_itinerario['CodigoPuertoDesCarga']

In [43]:
df_itinerario['CodigoPuertoCarga'] = df_itinerario['ClaveCarga'].map(mapa_codigos).fillna(df_itinerario['CodigoPuertoCarga'])
df_itinerario['CodigoPuertoDesCarga'] = df_itinerario['ClaveDesCarga'].map(mapa_codigos).fillna(df_itinerario['CodigoPuertoDesCarga'])

In [44]:
df_nave = pd.read_csv("Nave_Gold.csv",sep=',')

In [45]:
# Corroborar que ambas columnas tengan el mismo nombre o renómbralas si es necesario
codigos_nave_registrados = df_nave['CodigoNave'].unique()
codigos_nave_itinerario = df_itinerario['CodigoNave'].unique()

# Comparacion para encontrar los que están en itinerario pero no en nave
naves_faltantes = set(codigos_nave_itinerario) - set(codigos_nave_registrados)

# Mostrar resultado
if naves_faltantes:
    print("Códigos de nave que están en itinerario pero NO en df_nave:")
    for nave in naves_faltantes:
        print(f" - {nave}")
else:
    print("Todos los códigos de nave del itinerario están en df_nave.")

Códigos de nave que están en itinerario pero NO en df_nave:
 - 1
 - NORDIA
 - 1409

In [46]:
df_itinerario = df_itinerario[df_itinerario['CodigoNave'] != 'NORDIA']

In [47]:
df_itinerario.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3354 entries, 0 to 3474
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CodigoNave                   3354 non-null   object
 1   Viaje                        3354 non-null   int64
 2   Rumbo                        3354 non-null   object
 3   CodigoPaisCarga              3354 non-null   object
 4   CodigoPuertoCarga            3354 non-null   object
 5   CodigoPaisDesCarga           3354 non-null   object
 6   CodigoPuertoDesCarga         3354 non-null   object
 7   fechaSalida                  3354 non-null   datetime64[ns]
 8   fechaLlegada                 3354 non-null   datetime64[ns]
 9   ClaveCarga                   3354 non-null   object
 10  ClaveDesCarga                3354 non-null   object
 11  CodigoPuertoCargaAntiguo     3354 non-null   object
 12  CodigoPuertoDesCargaAntiguo  3354 non-null   object
dtypes: datetime64[ns](2), int64(1), object(10)
memory usage: 366.8+ KB

In [48]:
df_itinerario.to_csv("Itinerario_silver.csv", index=False)

In [49]:
df_itinerario

,CodigoNave,Viaje,Rumbo,CodigoPaisCarga,CodigoPuertoCarga,CodigoPaisDesCarga,CodigoPuertoDesCarga,fechaSalida,fechaLlegada,ClaveCarga,ClaveDesCarga,CodigoPuertoCargaAntiguo,CodigoPuertoDesCargaAntiguo
0,1,607,E,TW,KLUG,PE,CLLO,2022-06-25,2022-07-31,KEL|TW,CLL|PE,KEL,CLL
1,1,707,E,HK,HGKG,PE,CLLO,2022-09-12,2022-10-15,HKG|HK,CLL|PE,HKG,CLL
2,1,1005,E,CN,SNGI,KR,BSAN,2023-04-23,2023-04-25,SHA|CN,PUS|KR,SHA,PUS
3,1,1005,E,HK,HGKG,CN,SNGI,2023-04-18,2023-04-22,HKG|HK,SHA|CN,HKG,SHA
4,1,1005,E,KR,BSAN,TW,KLUG,2023-04-25,2023-04-26,PUS|KR,KEL|TW,PUS,KEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3469,XXMN,92,W,CN,QGDO,PE,CLLO,2022-11-30,2022-12-06,TAO|CN,CLL|PE,TAO,CLL
3470,XXMN,92,W,PE,CLLO,CL,VARO,2022-12-07,2022-12-14,CLL|PE,VAP|CL,CLL,VAP
3471,XXMN,93,W,CL,VARO,PE,CLLO,2023-02-09,2023-02-14,VAP|CL,CLL|PE,VAP,CLL
3472,XXMN,93,W,PE,CLLO,KR,BSAN,2023-02-15,2023-04-01,CLL|PE,PUS|KR,CLL,PUS
3474,XXMN,96,W,PE,CLLO,CL,VARO,2022-07-19,2022-07-27,CLL|PE,VAP|CL,CLL,VAP

In [50]:
df_itinerario.drop(columns=['Rumbo','ClaveCarga','ClaveDesCarga','CodigoPuertoCargaAntiguo','CodigoPuertoDesCargaAntiguo'],inplace=True)

In [53]:
df_itinerario.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3354 entries, 0 to 3474
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CodigoNave            3354 non-null   object
 1   Viaje                 3354 non-null   int64
 2   CodigoPaisCarga       3354 non-null   object
 3   CodigoPuertoCarga     3354 non-null   object
 4   CodigoPaisDesCarga    3354 non-null   object
 5   CodigoPuertoDesCarga  3354 non-null   object
 6   fechaSalida           3354 non-null   datetime64[ns]
 7   fechaLlegada          3354 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 235.8+ KB

In [52]:
df_itinerario.to_csv("Itinerario_Gold.csv", index=False)