In [ ]:
#Importamos pandas para poder leer la hoja pais de nuestro archivo excel y en esta ocasion especificamos los valores
#que se deben considerar nulos debido a que puede haber codigos de paises que sean 'NA' y se tomaria como nulo
import pandas as pd
df_pais = pd.read_excel("Bd_Itinerarios.xlsx",sheet_name='pais',na_values=['null',' '] ,keep_default_na=False)

In [ ]:
#Revisamos la información del Dataframe
df_pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CodigoPais  212 non-null    object
 1   NombrePais  212 non-null    object
dtypes: object(2)
memory usage: 3.4+ KB

In [ ]:
#Revisamos la descripción del Dataframe
df_pais.describe()

       CodigoPais NombrePais
count         212        212
unique        212        212
top            AD    ANDORRA
freq            1          1

In [6]:
#Revisamos si es que hay algun valor nulo
df_pais.isnull().sum()

CodigoPais    0
NombrePais    0
dtype: int64

In [8]:
#Revisamos si hay alguna fila duplicada
df_pais.duplicated().sum()

np.int64(0)

In [9]:
#Revisamos los valores que tiene la columna nombre pais transformandolo en una lista
set_nom_pais = set(df_pais["NombrePais"].to_list())
print(set_nom_pais)

{'SAINT PIERRE AND MIQUELON', 'GHANA', 'SAO TOME AND PRINCIPE', 'SOUTH AFRICA', 'ECUADOR', 'INDONESIA', 'FRENCH GUIANA', 'JAMAICA', 'NORTHERN MARIANA ISLANDS', 'GREENLAND', 'JAPAN', 'MONTSERRAT', 'SURINAME', 'TUVALU', 'UGANDA', 'ZAIRE', 'PITCAIRN', 'CYPRUS', 'MONGOLIA', 'TURKMENISTAN', 'PANAMA', 'MALTA', 'THAILAND', 'ANDORRA', 'DJIBOUTI', 'KUWAIT', 'TRINIDAD AND TOBAGO', 'SENEGAL', 'NAMIBIA', 'OMAN', 'SVALBARD AND JAN MAYEN IS', 'GUINEA-BISSAU', 'BELARUS', 'PHILIPPINES', 'FRANCE', 'BURKINA FASO', 'HONG KONG', 'IRELAND', 'AFGHANISTAN', 'SAINT KITTS AND NEVIS', 'SAINT LUCIA', 'LATVIA', 'MALAWI', 'NAURU', 'INDIA', 'GUAM', 'ICELAND', 'SRI LANKA', 'ITALY', 'EL SALVADOR', 'BAHAMAS', 'GABON', 'LITHUANIA', 'CZECH REPUBLIC', 'DOMINICA', 'PALAU', 'MARSHALL ISLANDS', 'HONDURAS', 'BELIZE', 'GRENADA', 'BOTSWANA', 'GIBRALTAR', 'SOLOMON ISLANDS', 'GUADELOUPE', 'NIUE', 'CHILE', 'COMOROS', 'PAKISTAN', 'SUDAN', 'YUGOSLAVIA', 'CONGO', 'ALGERIA', 'UNITED KINGDOM', 'SWEDEN', 'NEW ZEALAND', 'KAZAKHSTAN', 'TANZANIA, UNITED REPUBLIC', 'BELGIUM', 'QATAR', 'CUBA', 'SLOVENIA', 'ZAMBIA', 'VANUATU', 'MALAYSIA', 'ISRAEL', 'MAURITANIA', 'SWAZILAND', 'CARIBE', 'REUNION', 'EQUATORIAL GUINEA', 'AUSTRIA', 'GERMANY', 'CROATIA', 'FINLAND', 'LESOTHO', 'NIGER', 'MACAU', 'FAROE ISLANDS', 'TURKS AND CAICOS ISLANDS', 'LIBERIA', 'BANGLADESH', 'La tundra', 'ERITREA', 'POLAND', 'ZIMBABWE', 'COSTA RICA', 'MADAGASCAR', 'NETHERLANDS', 'PUERTO RICO', 'VENEZUELA', 'SAINT VINCENT AND THE GRE', 'SYRIAN ARAB REPUBLIC', 'PERU', 'FRENCH POLYNESIA', 'RWANDA', 'ROMANIA', 'MAURITIUS', 'GAMBIA', 'ARGENTINA', 'BERMUDA', 'BRAZIL', 'NIGERIA', 'AUSTRALIA', 'CAPE VERDE', 'ESTONIA', 'TONGA', 'PORTUGAL', 'HAITI', 'ARUBA', 'TURKEY', 'UNITED ARAB EMIRATES', 'KIRIBATI', 'SIERRA LEONE', 'SAMOA', 'LEBANON', 'SWITZERLAND', 'BENIN', 'AMERICAN SAMOA', 'SPAIN', 'RUSSIAN FEDERATION', 'BARBADOS', 'BULGARIA', 'VIRGIN ISLANDS (U.S.)', 'DOMINICAN REPUBLIC', 'VIET NAM', 'WESTERN SAHARA', 'CANADA', 'TUNISIA', 'NICARAGUA', 'COOK ISLANDS', 'KOREA, REPUBLIC OF', 'MYANMAR', 'NORWAY', 'GUATEMALA', 'MEXICO', 'HAWAII', 'YEMEN', 'CAMBODIA', 'MAYOTTE', 'SOMALIA', 'NEW CALEDONIA', 'SOUTH GEORGIA AND THE SOU', 'IRAN (ISLAMIC REPUBLIC OF', 'KENYA', 'FIJI', "COTE D'IVOIRE", 'CHINA', 'FALKLAND ISLANDS (MALVINA', 'TOGO', 'MOZAMBIQUE', 'UNITED STATES', 'ALBANIA', 'MACEDONIA', 'MALDIVES', 'SEYCHELLES', 'UKRAINE', 'EAST TIMOR', 'VIRGIN ISLANDS (BRITISH)', 'GUINEA', 'HUNGARY', 'MICRONESIA', 'KOREA, DEMOCRATIC PEOPLE´', 'DENMARK', 'ANGOLA', 'GREECE', 'LIBYAN ARAB JAMAHIRIYA', 'MONACO', 'PARAGUAY', 'EGYPT', 'BOLIVIA', 'URUGUAY', 'BAHRAIN', 'SINGAPORE', 'BRUNEI DARUSSALAM', 'GUYANA', 'LUXEMBOURG', 'MALI', 'PAPUA NEW GUINEA', 'CANARY ISLANDS', 'SLOVAKIA', 'COLOMBIA', 'ANGUILLA', 'MARTINIQUE', 'GEORGIA', 'IRAQ', 'NETHERLANDS ANTILLES', 'JORDAN', 'ANTIGUA AND BARBUDA', 'CAYMAN ISLANDS', 'SAINT HELENA', 'CAMEROON', 'TAIWAN, PROVINCE OF CHINA'}

In [ ]:
#Considero que hay algunos nombres que estan escritos de forma incorrecta asi que
#usaremos una libreria que nos ayude a verificar eso , en esta ocasión pycountry
#pip install pycountry

In [14]:
pip install pycountry

Collecting pycountry
  Using cached pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Using cached pycountry-24.6.1-py3-none-any.whl (6.3 MB)
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
#A traves del codigo del pais obtendremos los nombres correspondiente de los paises
import pycountry
def get_country(code):
    try:
        country = pycountry.countries.get(alpha_2=code)
        return country.name if country else None
    except:
        return None

#Aplicar funcion
df_pais['NombreCorregido'] = df_pais['CodigoPais'].apply(get_country)
df_pais['NombrePaisFinal'] = df_pais['NombreCorregido'].combine_first(df_pais['NombrePais'])

In [17]:
#Imprimimos el dataframe para ver los resultados de la función aplicada
print(df_pais[['CodigoPais', 'NombrePais', 'NombrePaisFinal']])

    CodigoPais            NombrePais       NombrePaisFinal
0           AD               ANDORRA               Andorra
1           AE  UNITED ARAB EMIRATES  United Arab Emirates
2           AF           AFGHANISTAN           Afghanistan
3           AG   ANTIGUA AND BARBUDA   Antigua and Barbuda
4           AI              ANGUILLA              Anguilla
..         ...                   ...                   ...
207         YU            YUGOSLAVIA            YUGOSLAVIA
208         ZA          SOUTH AFRICA          South Africa
209         ZM                ZAMBIA                Zambia
210         ZR                 ZAIRE                 ZAIRE
211         ZW              ZIMBABWE              Zimbabwe

[212 rows x 3 columns]

In [ ]:
#Podemos visualizar que la mayoria de los nombres de los paises se corrigio
df_pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CodigoPais       212 non-null    object
 1   NombrePais       212 non-null    object
 2   NombreCorregido  204 non-null    object
 3   NombrePaisFinal  212 non-null    object
dtypes: object(4)
memory usage: 6.8+ KB

In [19]:
#Exportamos el dataframe con todas las columnas en caso deseemos poder visualizar los cambios hechos
df_pais.to_csv("Pais_Silver.csv",index=False)

In [20]:
#Eliminamos las columnas no deseadas
df_pais = df_pais.drop(['NombrePais','NombreCorregido'],axis=1)

In [21]:
#Renombramos la columna de NombrePaisFinal a NombrePais para poder exportar el dataframe
df_pais.rename(columns={"NombrePaisFinal":"NombrePais"}, inplace=True)
df_pais.to_csv("Pais_Gold.csv",index=False)